## Olá, te desejo boas vindas!

### Meu nome é Marcos Vinicius Ferreira e neste documento vamos aprender na prática como manipular uma planilha com os dados dos primeiros 152 Pokemons. Facilitando a criação de scripts DML, importação de arquivos em projetos web e muitas outras possibilidades.

### Nível: iniciante

### Aqui importamos a biblioteca Pandas e utilizamos a função read_csv para ler a planilha, atribuindo os dados na variável "dados":

In [2]:
import pandas as pd
dados = pd.read_csv('FirstGenPokemon.csv', sep=',')

### Visualizamos os dados obtidos:

In [3]:

dados

,Number,Name,Types,Type1,Type2,Height(m),Weight(kg),Male_Pct,Female_Pct,Capt_Rate,...,Poison_Dmg,Ground_Dmg,Flying_Dmg,Psychic_Dmg,Bug_Dmg,Rock_Dmg,Ghost_Dmg,Dragon_Dmg,Evolutions,Legendary
0,1,Bulbasaur,2,grass,poison,0.7,6.9,87.5,12.5,45,...,1.0,1.0,2.0,2.0,4.0,1.0,1,1,2,0
1,2,Ivysaur,2,grass,poison,1.0,13.0,87.5,12.5,45,...,1.0,1.0,2.0,2.0,4.0,1.0,1,1,2,0
2,3,Venusaur,2,grass,poison,2.0,100.0,87.5,12.5,45,...,1.0,1.0,2.0,2.0,4.0,1.0,1,1,2,0
3,4,Charmander,1,fire,None,0.6,8.5,87.5,12.5,45,...,1.0,2.0,1.0,1.0,0.5,2.0,1,1,2,0
4,5,Charmeleon,1,fire,None,1.1,19.0,87.5,12.5,45,...,1.0,2.0,1.0,1.0,0.5,2.0,1,1,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
146,147,Dratini,1,dragon,None,1.8,3.3,50.0,50.0,45,...,1.0,1.0,1.0,1.0,1.0,1.0,1,2,2,0
147,148,Dragonair,1,dragon,None,4.0,16.5,50.0,50.0,45,...,1.0,1.0,1.0,1.0,1.0,1.0,1,2,2,0
148,149,Dragonite,2,dragon,flying,2.2,210.0,50.0,50.0,45,...,1.0,0.0,1.0,1.0,0.5,2.0,1,2,2,0
149,150,Mewtwo,1,psychic,None,2.0,122.0,0.0,0.0,3,...,1.0,1.0,1.0,0.5,2.0,1.0,0,1,0,1
150,151,Mew,1,psychic,None,0.4,4.0,0.0,0.0,45,...,1.0,1.0,1.0,0.5,2.0,1.0,0,1,0,1

### E então poderemos obter um array do primeiro elemento (objeto) de dados:

In [53]:
dados.values[0]

array([1, 'Bulbasaur', 2, 'grass', 'poison', 0.7, 6.9, 87.5, 12.5, 45,
       1059860, 'Medium Slow', 253, 45, 49, 49, 65, 45, 1.0, 2.0, 0.5,
       0.5, 0.25, 2.0, 0.5, 1.0, 1.0, 2.0, 2.0, 4.0, 1.0, 1, 1, 2, 0],
      dtype=object)

### Aqui quis demonstrar que é possível atribuir às variáveis os dados que quisermos de um elemento. 
### Podendo até manipular os índices desses elementos

In [54]:
numero = dados.values[0][0]
nome = dados.values[0][1]
type1 = dados.values[0][3]
type2 = dados.values[0][4]
hp = dados.values[0][13]
attack = dados.values[0][14]
defense = dados.values[0][15]
special = dados.values[0][16]
speed = dados.values[0][17]

# Demonstração:

"#" + str(numero) + " - " +  nome + " HP: " + str(hp) + " Type 1: " + type1 +" Type 2: " + type2 +" Attack: " + str(attack) +" Defense: " + str(defense) +" Special: " + str(special) +" Speed " + str(speed)

'#1 - Bulbasaur HP: 45 Type 1: grass Type 2: poison Attack: 49 Defense: 49 Special: 65 Speed 45'

In [ ]:
@app.route("/pokemons", methods=['GET'])
def home():
    pokemons = {}
    pokemons[1]

In [1]:
dados.shape[0]

NameError: name 'dados' is not defined

### Considerando um exemplo correto de INSERT como:
    
### INSERT INTO pokemons (id, numero, nome, tipo1, tipo2, hp, ataque, defesa, especial, velocidade) VALUES ('sq_id_pokemons.nextval', 1, 'Bulbasaur', 'grass', 'poison', 253, 45, 49, 49, 65)

### Aqui, poderemos obter um facilitador para a criação de um script DML:

In [55]:
for i in range(0, dados.shape[0]):
    print("INSERT INTO pokemons (id, numero, nome, tipo1, tipo2, hp, ataque, defesa, especial, velocidade) VALUES (sq_id_pokemons.nextval, " + str(dados.values[i][0]) + ", '" 
          + dados.values[i][1] + "', '" + dados.values[i][3] + "', '" 
          + dados.values[i][4] + "', " + str(dados.values[i][12]) + ", " 
          + str(dados.values[i][13]) + ", " + str(dados.values[i][14]) + ", " 
          +  str(dados.values[i][15]) + ", "+ str(dados.values[i][16]) + ");")
    

# Note que utilizei a mesma sintaxe da célula 3 deste arquivo para facilitar a compreensão.

INSERT INTO pokemons (id, numero, nome, tipo1, tipo2, hp, ataque, defesa, especial, velocidade) VALUES (sq_id_pokemons.nextval, 1, 'Bulbasaur', 'grass', 'poison', 253, 45, 49, 49, 65);
INSERT INTO pokemons (id, numero, nome, tipo1, tipo2, hp, ataque, defesa, especial, velocidade) VALUES (sq_id_pokemons.nextval, 2, 'Ivysaur', 'grass', 'poison', 325, 60, 62, 63, 80);
INSERT INTO pokemons (id, numero, nome, tipo1, tipo2, hp, ataque, defesa, especial, velocidade) VALUES (sq_id_pokemons.nextval, 3, 'Venusaur', 'grass', 'poison', 425, 80, 82, 83, 100);
INSERT INTO pokemons (id, numero, nome, tipo1, tipo2, hp, ataque, defesa, especial, velocidade) VALUES (sq_id_pokemons.nextval, 4, 'Charmander', 'fire', 'None', 249, 39, 52, 43, 50);
INSERT INTO pokemons (id, numero, nome, tipo1, tipo2, hp, ataque, defesa, especial, velocidade) VALUES (sq_id_pokemons.nextval, 5, 'Charmeleon', 'fire', 'None', 325, 58, 64, 58, 65);
INSERT INTO pokemons (id, numero, nome, tipo1, tipo2, hp, ataque, defesa, especial, velocidade) VALUES (sq_id_pokemons.nextval, 6, 'Charizard', 'fire', 'flying', 425, 78, 84, 78, 85);
INSERT INTO pokemons (id, numero, nome, tipo1, tipo2, hp, ataque, defesa, especial, velocidade) VALUES (sq_id_pokemons.nextval, 7, 'Squirtle', 'water', 'None', 250, 44, 48, 65, 50);
INSERT INTO pokemons (id, numero, nome, tipo1, tipo2, hp, ataque, defesa, especial, velocidade) VALUES (sq_id_pokemons.nextval, 8, 'Wartortle', 'water', 'None', 325, 59, 63, 80, 65);
INSERT INTO pokemons (id, numero, nome, tipo1, tipo2, hp, ataque, defesa, especial, velocidade) VALUES (sq_id_pokemons.nextval, 9, 'Blastoise', 'water', 'None', 425, 79, 83, 100, 85);
INSERT INTO pokemons (id, numero, nome, tipo1, tipo2, hp, ataque, defesa, especial, velocidade) VALUES (sq_id_pokemons.nextval, 10, 'Caterpie', 'bug', 'None', 175, 45, 30, 35, 20);
INSERT INTO pokemons (id, numero, nome, tipo1, tipo2, hp, ataque, defesa, especial, velocidade) VALUES (sq_id_pokemons.nextval, 11, 'Metapod', 'bug', 'None', 180, 50, 20, 55, 25);
INSERT INTO pokemons (id, numero, nome, tipo1, tipo2, hp, ataque, defesa, especial, velocidade) VALUES (sq_id_pokemons.nextval, 12, 'Butterfree', 'bug', 'flying', 305, 60, 45, 50, 80);
INSERT INTO pokemons (id, numero, nome, tipo1, tipo2, hp, ataque, defesa, especial, velocidade) VALUES (sq_id_pokemons.nextval, 13, 'Weedle', 'bug', 'poison', 175, 40, 35, 30, 20);
INSERT INTO pokemons (id, numero, nome, tipo1, tipo2, hp, ataque, defesa, especial, velocidade) VALUES (sq_id_pokemons.nextval, 14, 'Kakuna', 'bug', 'poison', 180, 45, 25, 50, 25);
INSERT INTO pokemons (id, numero, nome, tipo1, tipo2, hp, ataque, defesa, especial, velocidade) VALUES (sq_id_pokemons.nextval, 15, 'Beedrill', 'bug', 'poison', 305, 65, 80, 40, 45);
INSERT INTO pokemons (id, numero, nome, tipo1, tipo2, hp, ataque, defesa, especial, velocidade) VALUES (sq_id_pokemons.nextval, 16, 'Pidgey', 'normal', 'flying', 216, 40, 45, 40, 35);
INSERT INTO pokemons (id, numero, nome, tipo1, tipo2, hp, ataque, defesa, especial, velocidade) VALUES (sq_id_pokemons.nextval, 17, 'Pidgeotto', 'normal', 'flying', 299, 63, 60, 55, 50);
INSERT INTO pokemons (id, numero, nome, tipo1, tipo2, hp, ataque, defesa, especial, velocidade) VALUES (sq_id_pokemons.nextval, 18, 'Pidgeot', 'normal', 'flying', 399, 83, 80, 75, 70);
INSERT INTO pokemons (id, numero, nome, tipo1, tipo2, hp, ataque, defesa, especial, velocidade) VALUES (sq_id_pokemons.nextval, 19, 'Rattata', 'normal', 'None', 218, 30, 56, 35, 25);
INSERT INTO pokemons (id, numero, nome, tipo1, tipo2, hp, ataque, defesa, especial, velocidade) VALUES (sq_id_pokemons.nextval, 20, 'Raticate', 'normal', 'None', 343, 55, 81, 60, 50);
INSERT INTO pokemons (id, numero, nome, tipo1, tipo2, hp, ataque, defesa, especial, velocidade) VALUES (sq_id_pokemons.nextval, 21, 'Spearow', 'normal', 'flying', 231, 40, 60, 30, 31);
INSERT INTO pokemons (id, numero, nome, tipo1, tipo2, hp, ataque, defesa, especial, velocidade) VALUES (sq_id_pokemons.nextval, 22, 'Fearow', 'normal', 'flying', 381, 65, 90, 65, 61);
INSERT INTO pokemons (id, numero, nome, tipo1, tipo2, hp, ataque, defesa, especial, velocidade) VALUES (sq_id_pokemons.nextval, 23, 'Ekans', 'poison', 'None', 234, 35, 60, 44, 40);
INSERT INTO pokemons (id, numero, nome, tipo1, tipo2, hp, ataque, defesa, especial, velocidade) VALUES (sq_id_pokemons.nextval, 24, 'Arbok', 'poison', 'None', 359, 60, 85, 69, 65);
INSERT INTO pokemons (id, numero, nome, tipo1, tipo2, hp, ataque, defesa, especial, velocidade) VALUES (sq_id_pokemons.nextval, 25, 'Pikachu', 'electric', 'None', 260, 35, 55, 30, 50);
INSERT INTO pokemons (id, numero, nome, tipo1, tipo2, hp, ataque, defesa, especial, velocidade) VALUES (sq_id_pokemons.nextval, 26, 'Raichu', 'electric', 'None', 395, 60, 90, 55, 90);
INSERT INTO pokemons (id, numero, nome, tipo1, tipo2, hp, ataque, defesa, especial, velocidade) VALUES (sq_id_pokemons.nextval, 27, 'Sandshrew', 'ground', 'None', 280, 50, 75, 85, 30);
INSERT INTO pokemons (id, numero, nome, tipo1, tipo2, hp, ataque, defesa, especial, velocidade) VALUES (sq_id_pokemons.nextval, 28, 'Sandslash', 'ground', 'None', 405, 75, 100, 110, 55);
INSERT INTO pokemons (id, numero, nome, tipo1, tipo2, hp, ataque, defesa, especial, velocidade) VALUES (sq_id_pokemons.nextval, 29, 'Nidoran', 'poison', 'None', 235, 55, 47, 52, 40);
INSERT INTO pokemons (id, numero, nome, tipo1, tipo2, hp, ataque, defesa, especial, velocidade) VALUES (sq_id_pokemons.nextval, 30, 'Nidorina', 'poison', 'None', 310, 70, 62, 67, 55);
INSERT INTO pokemons (id, numero, nome, tipo1, tipo2, hp, ataque, defesa, especial, velocidade) VALUES (sq_id_pokemons.nextval, 31, 'Nidoqueen', 'poison', 'ground', 410, 90, 82, 87, 75);
INSERT INTO pokemons (id, numero, nome, tipo1, tipo2, hp, ataque, defesa, especial, velocidade) VALUES (sq_id_pokemons.nextval, 32, 'Nidoran', 'poison', 'None', 233, 46, 57, 40, 40);
INSERT INTO pokemons (id, numero, nome, tipo1, tipo2, hp, ataque, defesa, especial, velocidade) VALUES (sq_id_pokemons.nextval, 33, 'Nidorino', 'poison', 'None', 310, 61, 72, 57, 55);
INSERT INTO pokemons (id, numero, nome, tipo1, tipo2, hp, ataque, defesa, especial, velocidade) VALUES (sq_id_pokemons.nextval, 34, 'Nidoking', 'poison', 'ground', 410, 81, 92, 77, 75);
INSERT INTO pokemons (id, numero, nome, tipo1, tipo2, hp, ataque, defesa, especial, velocidade) VALUES (sq_id_pokemons.nextval, 35, 'Clefairy', 'normal', 'None', 258, 70, 45, 48, 60);
INSERT INTO pokemons (id, numero, nome, tipo1, tipo2, hp, ataque, defesa, especial, velocidade) VALUES (sq_id_pokemons.nextval, 36, 'Clefable', 'normal', 'None', 383, 95, 70, 73, 85);
INSERT INTO pokemons (id, numero, nome, tipo1, tipo2, hp, ataque, defesa, especial, velocidade) VALUES (sq_id_pokemons.nextval, 37, 'Vulpix', 'fire', 'None', 249, 38, 41, 40, 65);
INSERT INTO pokemons (id, numero, nome, tipo1, tipo2, hp, ataque, defesa, especial, velocidade) VALUES (sq_id_pokemons.nextval, 38, 'Ninetales', 'fire', 'None', 424, 73, 76, 75, 100);
INSERT INTO pokemons (id, numero, nome, tipo1, tipo2, hp, ataque, defesa, especial, velocidade) VALUES (sq_id_pokemons.nextval, 39, 'Jigglypuff', 'normal', 'None', 225, 115, 45, 20, 25);
INSERT INTO pokemons (id, numero, nome, tipo1, tipo2, hp, ataque, defesa, especial, velocidade) VALUES (sq_id_pokemons.nextval, 40, 'Wigglytuff', 'normal', 'None', 350, 140, 70, 45, 50);
INSERT INTO pokemons (id, numero, nome, tipo1, tipo2, hp, ataque, defesa, especial, velocidade) VALUES (sq_id_pokemons.nextval, 41, 'Zubat', 'poison', 'flying', 215, 40, 45, 35, 40);
INSERT INTO pokemons (id, numero, nome, tipo1, tipo2, hp, ataque, defesa, especial, velocidade) VALUES (sq_id_pokemons.nextval, 42, 'Golbat', 'poison', 'flying', 390, 75, 80, 70, 75);
INSERT INTO pokemons (id, numero, nome, tipo1, tipo2, hp, ataque, defesa, especial, velocidade) VALUES (sq_id_pokemons.nextval, 43, 'Oddish', 'grass', 'poison', 255, 45, 50, 55, 75);
INSERT INTO pokemons (id, numero, nome, tipo1, tipo2, hp, ataque, defesa, especial, velocidade) VALUES (sq_id_pokemons.nextval, 44, 'Gloom', 'grass', 'poison', 320, 60, 65, 70, 85);
INSERT INTO pokemons (id, numero, nome, tipo1, tipo2, hp, ataque, defesa, especial, velocidade) VALUES (sq_id_pokemons.nextval, 45, 'Vileplume', 'grass', 'poison', 390, 75, 80, 85, 100);
INSERT INTO pokemons (id, numero, nome, tipo1, tipo2, hp, ataque, defesa, especial, velocidade) VALUES (sq_id_pokemons.nextval, 46, 'Paras', 'bug', 'grass', 240, 35, 70, 55, 55);
INSERT INTO pokemons (id, numero, nome, tipo1, tipo2, hp, ataque, defesa, especial, velocidade) VALUES (sq_id_pokemons.nextval, 47, 'Parasect', 'bug', 'grass', 345, 60, 95, 80, 80);
INSERT INTO pokemons (id, numero, nome, tipo1, tipo2, hp, ataque, defesa, especial, velocidade) VALUES (sq_id_pokemons.nextval, 48, 'Venonat', 'bug', 'poison', 250, 60, 55, 50, 40);
INSERT INTO pokemons (id, numero, nome, tipo1, tipo2, hp, ataque, defesa, especial, velocidade) VALUES (sq_id_pokemons.nextval, 49, 'Venomoth', 'bug', 'poison', 375, 70, 65, 60, 90);
INSERT INTO pokemons (id, numero, nome, tipo1, tipo2, hp, ataque, defesa, especial, velocidade) VALUES (sq_id_pokemons.nextval, 50, 'Diglett', 'ground', 'None', 230, 10, 55, 25, 45);
INSERT INTO pokemons (id, numero, nome, tipo1, tipo2, hp, ataque, defesa, especial, velocidade) VALUES (sq_id_pokemons.nextval, 51, 'Dugtrio', 'ground', 'None', 355, 35, 80, 50, 70);
INSERT INTO pokemons (id, numero, nome, tipo1, tipo2, hp, ataque, defesa, especial, velocidade) VALUES (sq_id_pokemons.nextval, 52, 'Meowth', 'normal', 'None', 250, 40, 45, 35, 40);
INSERT INTO pokemons (id, numero, nome, tipo1, tipo2, hp, ataque, defesa, especial, velocidade) VALUES (sq_id_pokemons.nextval, 53, 'Persian', 'normal', 'None', 375, 65, 70, 60, 65);
INSERT INTO pokemons (id, numero, nome, tipo1, tipo2, hp, ataque, defesa, especial, velocidade) VALUES (sq_id_pokemons.nextval, 54, 'Psyduck', 'water', 'None', 255, 50, 52, 48, 50);
INSERT INTO pokemons (id, numero, nome, tipo1, tipo2, hp, ataque, defesa, especial, velocidade) VALUES (sq_id_pokemons.nextval, 55, 'Golduck', 'water', 'None', 405, 80, 82, 78, 80);
INSERT INTO pokemons (id, numero, nome, tipo1, tipo2, hp, ataque, defesa, especial, velocidade) VALUES (sq_id_pokemons.nextval, 56, 'Mankey', 'fighting', 'None', 260, 40, 80, 35, 35);
INSERT INTO pokemons (id, numero, nome, tipo1, tipo2, hp, ataque, defesa, especial, velocidade) VALUES (sq_id_pokemons.nextval, 57, 'Primeape', 'fighting', 'None', 385, 65, 105, 60, 60);
INSERT INTO pokemons (id, numero, nome, tipo1, tipo2, hp, ataque, defesa, especial, velocidade) VALUES (sq_id_pokemons.nextval, 58, 'Growlithe', 'fire', 'None', 280, 55, 70, 45, 50);
INSERT INTO pokemons (id, numero, nome, tipo1, tipo2, hp, ataque, defesa, especial, velocidade) VALUES (sq_id_pokemons.nextval, 59, 'Arcanine', 'fire', 'None', 455, 90, 110, 80, 80);
INSERT INTO pokemons (id, numero, nome, tipo1, tipo2, hp, ataque, defesa, especial, velocidade) VALUES (sq_id_pokemons.nextval, 60, 'Poliwag', 'water', 'None', 260, 40, 50, 40, 40);
INSERT INTO pokemons (id, numero, nome, tipo1, tipo2, hp, ataque, defesa, especial, velocidade) VALUES (sq_id_pokemons.nextval, 61, 'Poliwhirl', 'water', 'None', 335, 65, 65, 65, 50);
INSERT INTO pokemons (id, numero, nome, tipo1, tipo2, hp, ataque, defesa, especial, velocidade) VALUES (sq_id_pokemons.nextval, 62, 'Poliwrath', 'water', 'fighting', 410, 90, 85, 95, 70);
INSERT INTO pokemons (id, numero, nome, tipo1, tipo2, hp, ataque, defesa, especial, velocidade) VALUES (sq_id_pokemons.nextval, 63, 'Abra', 'psychic', 'None', 255, 25, 20, 15, 105);
INSERT INTO pokemons (id, numero, nome, tipo1, tipo2, hp, ataque, defesa, especial, velocidade) VALUES (sq_id_pokemons.nextval, 64, 'Kadabra', 'psychic', 'None', 330, 40, 35, 30, 120);
INSERT INTO pokemons (id, numero, nome, tipo1, tipo2, hp, ataque, defesa, especial, velocidade) VALUES (sq_id_pokemons.nextval, 65, 'Alakazam', 'psychic', 'None', 405, 55, 50, 45, 135);
INSERT INTO pokemons (id, numero, nome, tipo1, tipo2, hp, ataque, defesa, especial, velocidade) VALUES (sq_id_pokemons.nextval, 66, 'Machop', 'fighting', 'None', 270, 70, 80, 50, 35);
INSERT INTO pokemons (id, numero, nome, tipo1, tipo2, hp, ataque, defesa, especial, velocidade) VALUES (sq_id_pokemons.nextval, 67, 'Machoke', 'fighting', 'None', 345, 80, 100, 70, 50);
INSERT INTO pokemons (id, numero, nome, tipo1, tipo2, hp, ataque, defesa, especial, velocidade) VALUES (sq_id_pokemons.nextval, 68, 'Machamp', 'fighting', 'None', 420, 90, 130, 80, 65);
INSERT INTO pokemons (id, numero, nome, tipo1, tipo2, hp, ataque, defesa, especial, velocidade) VALUES (sq_id_pokemons.nextval, 69, 'Bellsprout', 'grass', 'poison', 270, 50, 75, 35, 70);
INSERT INTO pokemons (id, numero, nome, tipo1, tipo2, hp, ataque, defesa, especial, velocidade) VALUES (sq_id_pokemons.nextval, 70, 'Weepinbell', 'grass', 'poison', 345, 65, 90, 50, 85);
INSERT INTO pokemons (id, numero, nome, tipo1, tipo2, hp, ataque, defesa, especial, velocidade) VALUES (sq_id_pokemons.nextval, 71, 'Victreebel', 'grass', 'poison', 420, 80, 105, 65, 100);
INSERT INTO pokemons (id, numero, nome, tipo1, tipo2, hp, ataque, defesa, especial, velocidade) VALUES (sq_id_pokemons.nextval, 72, 'Tentacool', 'water', 'poison', 285, 40, 40, 35, 100);
INSERT INTO pokemons (id, numero, nome, tipo1, tipo2, hp, ataque, defesa, especial, velocidade) VALUES (sq_id_pokemons.nextval, 73, 'Tentacruel', 'water', 'poison', 435, 80, 70, 65, 120);
INSERT INTO pokemons (id, numero, nome, tipo1, tipo2, hp, ataque, defesa, especial, velocidade) VALUES (sq_id_pokemons.nextval, 74, 'Geodude', 'rock', 'ground', 270, 40, 80, 100, 30);
INSERT INTO pokemons (id, numero, nome, tipo1, tipo2, hp, ataque, defesa, especial, velocidade) VALUES (sq_id_pokemons.nextval, 75, 'Graveler', 'rock', 'ground', 345, 55, 95, 115, 45);
INSERT INTO pokemons (id, numero, nome, tipo1, tipo2, hp, ataque, defesa, especial, velocidade) VALUES (sq_id_pokemons.nextval, 76, 'Golem', 'rock', 'ground', 420, 80, 110, 130, 55);
INSERT INTO pokemons (id, numero, nome, tipo1, tipo2, hp, ataque, defesa, especial, velocidade) VALUES (sq_id_pokemons.nextval, 77, 'Ponyta', 'fire', 'None', 345, 50, 85, 55, 65);
INSERT INTO pokemons (id, numero, nome, tipo1, tipo2, hp, ataque, defesa, especial, velocidade) VALUES (sq_id_pokemons.nextval, 78, 'Rapidash', 'fire', 'None', 420, 65, 100, 70, 80);
INSERT INTO pokemons (id, numero, nome, tipo1, tipo2, hp, ataque, defesa, especial, velocidade) VALUES (sq_id_pokemons.nextval, 79, 'Slowpoke', 'water', 'psychic', 275, 90, 65, 65, 40);
INSERT INTO pokemons (id, numero, nome, tipo1, tipo2, hp, ataque, defesa, especial, velocidade) VALUES (sq_id_pokemons.nextval, 80, 'Slowbro', 'water', 'psychic', 390, 95, 75, 110, 80);
INSERT INTO pokemons (id, numero, nome, tipo1, tipo2, hp, ataque, defesa, especial, velocidade) VALUES (sq_id_pokemons.nextval, 81, 'Magnemite', 'electric', 'None', 270, 25, 35, 70, 95);
INSERT INTO pokemons (id, numero, nome, tipo1, tipo2, hp, ataque, defesa, especial, velocidade) VALUES (sq_id_pokemons.nextval, 82, 'Magneton', 'electric', 'None', 395, 50, 60, 95, 120);
INSERT INTO pokemons (id, numero, nome, tipo1, tipo2, hp, ataque, defesa, especial, velocidade) VALUES (sq_id_pokemons.nextval, 83, 'Farfetchd', 'normal', 'flying', 290, 52, 65, 55, 58);
INSERT INTO pokemons (id, numero, nome, tipo1, tipo2, hp, ataque, defesa, especial, velocidade) VALUES (sq_id_pokemons.nextval, 84, 'Doduo', 'normal', 'flying', 275, 35, 85, 45, 35);
INSERT INTO pokemons (id, numero, nome, tipo1, tipo2, hp, ataque, defesa, especial, velocidade) VALUES (sq_id_pokemons.nextval, 85, 'Dodrio', 'normal', 'flying', 400, 60, 110, 70, 60);
INSERT INTO pokemons (id, numero, nome, tipo1, tipo2, hp, ataque, defesa, especial, velocidade) VALUES (sq_id_pokemons.nextval, 86, 'Seel', 'water', 'None', 280, 65, 45, 55, 70);
INSERT INTO pokemons (id, numero, nome, tipo1, tipo2, hp, ataque, defesa, especial, velocidade) VALUES (sq_id_pokemons.nextval, 87, 'Dewgong', 'water', 'ice', 405, 90, 70, 80, 95);
INSERT INTO pokemons (id, numero, nome, tipo1, tipo2, hp, ataque, defesa, especial, velocidade) VALUES (sq_id_pokemons.nextval, 88, 'Grimer', 'poison', 'None', 275, 80, 80, 50, 40);
INSERT INTO pokemons (id, numero, nome, tipo1, tipo2, hp, ataque, defesa, especial, velocidade) VALUES (sq_id_pokemons.nextval, 89, 'Muk', 'poison', 'None', 400, 105, 105, 75, 65);
INSERT INTO pokemons (id, numero, nome, tipo1, tipo2, hp, ataque, defesa, especial, velocidade) VALUES (sq_id_pokemons.nextval, 90, 'Shellder', 'water', 'None', 280, 30, 65, 100, 45);
INSERT INTO pokemons (id, numero, nome, tipo1, tipo2, hp, ataque, defesa, especial, velocidade) VALUES (sq_id_pokemons.nextval, 91, 'Cloyster', 'water', 'ice', 480, 50, 95, 180, 85);
INSERT INTO pokemons (id, numero, nome, tipo1, tipo2, hp, ataque, defesa, especial, velocidade) VALUES (sq_id_pokemons.nextval, 92, 'Gastly', 'ghost', 'poison', 275, 30, 35, 30, 100);
INSERT INTO pokemons (id, numero, nome, tipo1, tipo2, hp, ataque, defesa, especial, velocidade) VALUES (sq_id_pokemons.nextval, 93, 'Haunter', 'ghost', 'poison', 350, 45, 50, 45, 115);
INSERT INTO pokemons (id, numero, nome, tipo1, tipo2, hp, ataque, defesa, especial, velocidade) VALUES (sq_id_pokemons.nextval, 94, 'Gengar', 'ghost', 'poison', 425, 60, 65, 60, 130);
INSERT INTO pokemons (id, numero, nome, tipo1, tipo2, hp, ataque, defesa, especial, velocidade) VALUES (sq_id_pokemons.nextval, 95, 'Onix', 'rock', 'ground', 340, 35, 45, 160, 30);
INSERT INTO pokemons (id, numero, nome, tipo1, tipo2, hp, ataque, defesa, especial, velocidade) VALUES (sq_id_pokemons.nextval, 96, 'Drowzee', 'psychic', 'None', 285, 60, 48, 45, 90);
INSERT INTO pokemons (id, numero, nome, tipo1, tipo2, hp, ataque, defesa, especial, velocidade) VALUES (sq_id_pokemons.nextval, 97, 'Hypno', 'psychic', 'None', 410, 85, 73, 70, 115);
INSERT INTO pokemons (id, numero, nome, tipo1, tipo2, hp, ataque, defesa, especial, velocidade) VALUES (sq_id_pokemons.nextval, 98, 'Krabby', 'water', 'None', 300, 30, 105, 90, 25);
INSERT INTO pokemons (id, numero, nome, tipo1, tipo2, hp, ataque, defesa, especial, velocidade) VALUES (sq_id_pokemons.nextval, 99, 'Kingler', 'water', 'None', 425, 55, 130, 115, 50);
INSERT INTO pokemons (id, numero, nome, tipo1, tipo2, hp, ataque, defesa, especial, velocidade) VALUES (sq_id_pokemons.nextval, 100, 'Voltorb', 'electric', 'None', 275, 40, 30, 50, 55);
INSERT INTO pokemons (id, numero, nome, tipo1, tipo2, hp, ataque, defesa, especial, velocidade) VALUES (sq_id_pokemons.nextval, 101, 'Electrode', 'electric', 'None', 400, 60, 50, 70, 80);
INSERT INTO pokemons (id, numero, nome, tipo1, tipo2, hp, ataque, defesa, especial, velocidade) VALUES (sq_id_pokemons.nextval, 102, 'Exeggcute', 'grass', 'psychic', 280, 60, 40, 80, 60);
INSERT INTO pokemons (id, numero, nome, tipo1, tipo2, hp, ataque, defesa, especial, velocidade) VALUES (sq_id_pokemons.nextval, 103, 'Exeggutor', 'grass', 'psychic', 455, 95, 95, 85, 125);
INSERT INTO pokemons (id, numero, nome, tipo1, tipo2, hp, ataque, defesa, especial, velocidade) VALUES (sq_id_pokemons.nextval, 104, 'Cubone', 'ground', 'None', 270, 50, 50, 95, 40);
INSERT INTO pokemons (id, numero, nome, tipo1, tipo2, hp, ataque, defesa, especial, velocidade) VALUES (sq_id_pokemons.nextval, 105, 'Marowak', 'ground', 'None', 345, 60, 80, 110, 50);
INSERT INTO pokemons (id, numero, nome, tipo1, tipo2, hp, ataque, defesa, especial, velocidade) VALUES (sq_id_pokemons.nextval, 106, 'Hitmonlee', 'fighting', 'None', 345, 50, 120, 53, 35);
INSERT INTO pokemons (id, numero, nome, tipo1, tipo2, hp, ataque, defesa, especial, velocidade) VALUES (sq_id_pokemons.nextval, 107, 'Hitmonchan', 'fighting', 'None', 345, 50, 105, 79, 35);
INSERT INTO pokemons (id, numero, nome, tipo1, tipo2, hp, ataque, defesa, especial, velocidade) VALUES (sq_id_pokemons.nextval, 108, 'Lickitung', 'normal', 'None', 310, 90, 55, 75, 60);

### Para facilitar a importação das imagens em um projeto web, por exemplo, é possível utilizar o seguinte script:

In [56]:
for i in range(0, dados.shape[0]):
    print("import pokemon" + str(dados.values[i][0])+ " from './assets/img/" + dados.values[i][1].lower() +".jpg'")

import pokemon1 from './assets/img/bulbasaur.jpg'
import pokemon2 from './assets/img/ivysaur.jpg'
import pokemon3 from './assets/img/venusaur.jpg'
import pokemon4 from './assets/img/charmander.jpg'
import pokemon5 from './assets/img/charmeleon.jpg'
import pokemon6 from './assets/img/charizard.jpg'
import pokemon7 from './assets/img/squirtle.jpg'
import pokemon8 from './assets/img/wartortle.jpg'
import pokemon9 from './assets/img/blastoise.jpg'
import pokemon10 from './assets/img/caterpie.jpg'
import pokemon11 from './assets/img/metapod.jpg'
import pokemon12 from './assets/img/butterfree.jpg'
import pokemon13 from './assets/img/weedle.jpg'
import pokemon14 from './assets/img/kakuna.jpg'
import pokemon15 from './assets/img/beedrill.jpg'
import pokemon16 from './assets/img/pidgey.jpg'
import pokemon17 from './assets/img/pidgeotto.jpg'
import pokemon18 from './assets/img/pidgeot.jpg'
import pokemon19 from './assets/img/rattata.jpg'
import pokemon20 from './assets/img/raticate.jpg'
import pokemon21 from './assets/img/spearow.jpg'
import pokemon22 from './assets/img/fearow.jpg'
import pokemon23 from './assets/img/ekans.jpg'
import pokemon24 from './assets/img/arbok.jpg'
import pokemon25 from './assets/img/pikachu.jpg'
import pokemon26 from './assets/img/raichu.jpg'
import pokemon27 from './assets/img/sandshrew.jpg'
import pokemon28 from './assets/img/sandslash.jpg'
import pokemon29 from './assets/img/nidoran.jpg'
import pokemon30 from './assets/img/nidorina.jpg'
import pokemon31 from './assets/img/nidoqueen.jpg'
import pokemon32 from './assets/img/nidoran.jpg'
import pokemon33 from './assets/img/nidorino.jpg'
import pokemon34 from './assets/img/nidoking.jpg'
import pokemon35 from './assets/img/clefairy.jpg'
import pokemon36 from './assets/img/clefable.jpg'
import pokemon37 from './assets/img/vulpix.jpg'
import pokemon38 from './assets/img/ninetales.jpg'
import pokemon39 from './assets/img/jigglypuff.jpg'
import pokemon40 from './assets/img/wigglytuff.jpg'
import pokemon41 from './assets/img/zubat.jpg'
import pokemon42 from './assets/img/golbat.jpg'
import pokemon43 from './assets/img/oddish.jpg'
import pokemon44 from './assets/img/gloom.jpg'
import pokemon45 from './assets/img/vileplume.jpg'
import pokemon46 from './assets/img/paras.jpg'
import pokemon47 from './assets/img/parasect.jpg'
import pokemon48 from './assets/img/venonat.jpg'
import pokemon49 from './assets/img/venomoth.jpg'
import pokemon50 from './assets/img/diglett.jpg'
import pokemon51 from './assets/img/dugtrio.jpg'
import pokemon52 from './assets/img/meowth.jpg'
import pokemon53 from './assets/img/persian.jpg'
import pokemon54 from './assets/img/psyduck.jpg'
import pokemon55 from './assets/img/golduck.jpg'
import pokemon56 from './assets/img/mankey.jpg'
import pokemon57 from './assets/img/primeape.jpg'
import pokemon58 from './assets/img/growlithe.jpg'
import pokemon59 from './assets/img/arcanine.jpg'
import pokemon60 from './assets/img/poliwag.jpg'
import pokemon61 from './assets/img/poliwhirl.jpg'
import pokemon62 from './assets/img/poliwrath.jpg'
import pokemon63 from './assets/img/abra.jpg'
import pokemon64 from './assets/img/kadabra.jpg'
import pokemon65 from './assets/img/alakazam.jpg'
import pokemon66 from './assets/img/machop.jpg'
import pokemon67 from './assets/img/machoke.jpg'
import pokemon68 from './assets/img/machamp.jpg'
import pokemon69 from './assets/img/bellsprout.jpg'
import pokemon70 from './assets/img/weepinbell.jpg'
import pokemon71 from './assets/img/victreebel.jpg'
import pokemon72 from './assets/img/tentacool.jpg'
import pokemon73 from './assets/img/tentacruel.jpg'
import pokemon74 from './assets/img/geodude.jpg'
import pokemon75 from './assets/img/graveler.jpg'
import pokemon76 from './assets/img/golem.jpg'
import pokemon77 from './assets/img/ponyta.jpg'
import pokemon78 from './assets/img/rapidash.jpg'
import pokemon79 from './assets/img/slowpoke.jpg'
import pokemon80 from './assets/img/slowbro.jpg'
import pokemon81 from './assets/img/magnemite.jpg'
import pokemon82 from './assets/img/magneton.jpg'
import pokemon83 from './assets/img/farfetchd.jpg'
import pokemon84 from './assets/img/doduo.jpg'
import pokemon85 from './assets/img/dodrio.jpg'
import pokemon86 from './assets/img/seel.jpg'
import pokemon87 from './assets/img/dewgong.jpg'
import pokemon88 from './assets/img/grimer.jpg'
import pokemon89 from './assets/img/muk.jpg'
import pokemon90 from './assets/img/shellder.jpg'
import pokemon91 from './assets/img/cloyster.jpg'
import pokemon92 from './assets/img/gastly.jpg'
import pokemon93 from './assets/img/haunter.jpg'
import pokemon94 from './assets/img/gengar.jpg'
import pokemon95 from './assets/img/onix.jpg'
import pokemon96 from './assets/img/drowzee.jpg'
import pokemon97 from './assets/img/hypno.jpg'
import pokemon98 from './assets/img/krabby.jpg'
import pokemon99 from './assets/img/kingler.jpg'
import pokemon100 from './assets/img/voltorb.jpg'
import pokemon101 from './assets/img/electrode.jpg'
import pokemon102 from './assets/img/exeggcute.jpg'
import pokemon103 from './assets/img/exeggutor.jpg'
import pokemon104 from './assets/img/cubone.jpg'
import pokemon105 from './assets/img/marowak.jpg'
import pokemon106 from './assets/img/hitmonlee.jpg'
import pokemon107 from './assets/img/hitmonchan.jpg'
import pokemon108 from './assets/img/lickitung.jpg'
import pokemon109 from './assets/img/koffing.jpg'
import pokemon110 from './assets/img/weezing.jpg'
import pokemon111 from './assets/img/rhyhorn.jpg'
import pokemon112 from './assets/img/rhydon.jpg'
import pokemon113 from './assets/img/chansey.jpg'
import pokemon114 from './assets/img/tangela.jpg'
import pokemon115 from './assets/img/kangaskhan.jpg'
import pokemon116 from './assets/img/horsea.jpg'
import pokemon117 from './assets/img/seadra.jpg'
import pokemon118 from './assets/img/goldeen.jpg'
import pokemon119 from './assets/img/seaking.jpg'
import pokemon120 from './assets/img/staryu.jpg'
import pokemon121 from './assets/img/starmie.jpg'
import pokemon122 from './assets/img/mrmime.jpg'
import pokemon123 from './assets/img/scyther.jpg'
import pokemon124 from './assets/img/jynx.jpg'
import pokemon125 from './assets/img/electabuzz.jpg'
import pokemon126 from './assets/img/magmar.jpg'
import pokemon127 from './assets/img/pinsir.jpg'
import pokemon128 from './assets/img/tauros.jpg'
import pokemon129 from './assets/img/magikarp.jpg'
import pokemon130 from './assets/img/gyarados.jpg'
import pokemon131 from './assets/img/lapras.jpg'
import pokemon132 from './assets/img/ditto.jpg'
import pokemon133 from './assets/img/eevee.jpg'
import pokemon134 from './assets/img/vaporeon.jpg'
import pokemon135 from './assets/img/jolteon.jpg'
import pokemon136 from './assets/img/flareon.jpg'
import pokemon137 from './assets/img/porygon.jpg'
import pokemon138 from './assets/img/omanyte.jpg'
import pokemon139 from './assets/img/omastar.jpg'
import pokemon140 from './assets/img/kabuto.jpg'
import pokemon141 from './assets/img/kabutops.jpg'
import pokemon142 from './assets/img/aerodactyl.jpg'
import pokemon143 from './assets/img/snorlax.jpg'
import pokemon144 from './assets/img/articuno.jpg'
import pokemon145 from './assets/img/zapdos.jpg'
import pokemon146 from './assets/img/moltres.jpg'
import pokemon147 from './assets/img/dratini.jpg'
import pokemon148 from './assets/img/dragonair.jpg'
import pokemon149 from './assets/img/dragonite.jpg'
import pokemon150 from './assets/img/mewtwo.jpg'
import pokemon151 from './assets/img/mew.jpg'

### Entre outras infinitas possibilidades, é possível utilizar a linguagem Python em Jupyter Notebooks para facilitar a manipulação de dados e melhorar o processo de desenvolvimento em qualquer projeto.

### Muito obrigado pela leitura!

<br>
<br>
<br>



# Marcos Vinicius Ferreira
### GitHub: https://github.com/marcosnaofazisso
### LinkedIn: https://www.linkedin.com/in/marcosvmferreira/